#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<${symbol_pound}import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Home page">

<form action="/login" method="post">
	<p>
		<label for="username">Username / Email: </label> <input type="text"
			name="username" id="username" value="${symbol_dollar}{(flash_username)!""}"/>
	</p>
	<p>
		<label for="password">Your message: </label> <input type="password"
			name="password" id="password" value="${symbol_dollar}{(flash_password)!""}"/>
	</p>
	<p>
		<input type="submit" value="Login" />
	</p>
</form>

</@layout.myLayout>
