#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<${symbol_pound}import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">  

<script type="text/javascript" src="/assets/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea"
 });
</script>
  

    <h1>New article</h1>
 
    <form action="/article/new" method="post">
        <p>
            <label for="author">Title</label>
            <input type="text" name="title" style="width:70%" id="title" value="${symbol_dollar}{(flash_title!"")}"/>
        </p>
        <p>
            <label for="content">Content </label>
            <textarea name="content" style="width:100%">${symbol_dollar}{(flash_content!"")}</textarea>
        </p>
        <p>
            <input type="submit" value="Submit your comment" />
        </p>
    </form>
    
    
</@layout.myLayout>